
/* Genel arka plan */
body {
    background-color: #f1f5f8;
}

/* Tablo Stilleri */
table.widefat {
    border: 1px solid #c3c4c7;
    background-color: #fff;
}

th {
    background-color: #0073aa; /* Mavi */
    color: #fff;
    border-bottom: 2px solid #005177;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid #c3c4c7;
}

/* Çizgili tablo efekti için */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ececec;
}

/* Düzenleme Bağlantısı Stili */
a {
    color: #0073aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buton Stilleri */
input[type="submit"], button {
    background-color: #0073aa; /* Mavi */
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #005177;
}

/* Form Alanları */
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="text"]:focus, textarea:focus {
    background-color: #fff;
    border-color: #0073aa;
    outline: none;
}

/* Admin Notice */
.notice-success {
    border-left-color: #0073aa !important;
}
